---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";
import Heading from "./Heading.astro";
import Link from "./Link.astro";

type Props = {
  data: CollectionEntry<"projects">["data"];
};

const { data } = Astro.props;
const { title, url, icons, thumbnail } = data;
const iconData = await getEntries(icons);
---

<article aria-label={title}>
  <Link href={url} variant="up" class="flex max-w-fit flex-col">
    <Image src={thumbnail} alt={title} width={400} format="avif" />
    <div class="px-4 py-2">
      <div class="flex items-center">
        <Heading tagName="h3" size="h4">{title}</Heading>
        <Icon name="icon--external-link" size={25} />
      </div>
      <ul>
        {
          iconData.map(({ data }) => (
            <li>
              <Icon name={data.icon} title={data.icon} aria-label={data.icon} />
            </li>
          ))
        }
      </ul>
    </div>
  </Link>
</article>
